body {
  margin: 0;
  background-color: #fff;
}

/*General typo*/
h1 {
  font-size: 40px;
  font-family: "Montserrat";
  text-align: left;
  margin: 0;
  color: #fff;
}

/*Headers with red background*/
h2 {
  font-size: 20px;
  font-family: "Montserrat";
  margin: 0px auto 36px;
  width: fit-content;
  text-align: center;
  padding: 5px;
  background-color: #ff0000;
  color: #fff;
}

/*Mid-headers with red text*/
h3 {
  font-size: 20px;
  font-family: "Montserrat";
  margin: 60px auto 36px;
  width: fit-content;
  text-align: center;
  color: #ff0000;
}

/*Styling for "PORTFOLIO" in header*/
h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  display: inline;
  color: #fff;
}

/*Styling for "FULL NAME" in header*/
h5 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 17px;
  margin-left: 10px;
  display: inline;
  color: #fff;
}

/*Styling for "+graphic designer" & "contact" header*/
h6 {
  margin-top: 0;
  padding: 5px;
  color: #fff;
  font-size: 27px;
  font-family: "Montserrat";
}

p {
  text-align: center;
  font-size: 17px;
  font-family: "Roboto";
}

header {
  background-color: #072bce;
  height: 500px;
  padding: 100px 36px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

/*Styling for paragraph in header*/
header p {
  text-align: left;
  margin: 5px;
  color: #fff;
}

/*Styling for links, >>*/
a {
  text-decoration: none;
  color: #ff0000;
  font-weight: 700;
}

/*Styling for paragraph in presentation*/
.presentation-section p {
  margin: 3px;
  text-align: left;
}

/* .icon {
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
} */
.icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 5px;
  width: 36px;
  height: 36px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.icon img {
  width: 19px;
  height: auto;
}

/*Round profile picture*/
.profile-pic {
  background-image: url(./assets/images/Sunnyside.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -15px;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 50%;
}

/* The small red decoration in the presentation section*/
.decoration {
  display: flex;
  align-items: center;
  float: left;
  height: 18px;
  margin-right: 10px;
}

.line {
  width: 40px;
  height: 3px;
  background: #ff0000;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff0000;
  margin-left: -5px;
}

/*White & grey sections*/
.presentation-section {
  padding: 36px;
  background-color: #f4f4f4;
}

.portfolio-section {
  padding: 36px;
  background-color: #fff;
}

.portfolio-section-grey {
  padding: 36px;
  background-color: #f4f4f4;
}

/*Project cards*/
.project-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.project-card {
  margin: 10px;
  width: 250px;
}

.project-image {
  margin: 0 0 10px 0;
  object-fit: cover;
  width: 100%;
  height: 130px;
}

.bold-paragraph {
  font-weight: 700;
  color: red;
}

.project-card p {
  display: inline;
}

/*Other projects section*/
.other-projects p {
  display: inline;
}

.other-projects-links {
  margin: 10px;
}

/*Styling for the pink tags*/
.tags {
  margin: 20px 0 20px;
}

.tags p {
  margin: 0;
  padding: 3px;
  font-size: 8px;
  color: #2b2e34;
  background-color: #fddfe7;
}

/*Styling My thoughts*/
.thoughts-container p {
  text-align: left;
}

.date-paragraph {
  text-align: left;
  margin: 2px;
  font-weight: 400;
  color: #ff0000;
}

.black-bold-paragraph {
  text-align: left;
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  color: #000;
}

.other-thoughts-container {
  margin: 36px auto 36px;
  width: 300px;
}

.other-thoughts {
  margin: 0px;
  width: 300px;
}

.other-thoughts p {
  display: inline;
}

/*Skills section*/
.skills {
  background: #f4f4f4;
  padding: 46px 36px 0 36px;
}

.skills p {
  text-align: center;
}

.skill-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px 0;
  margin: auto;
  text-align: center;
  margin-top: 36px;
  width: fit-content;
}

/*More section*/
.social-container {
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon-red {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70px;
  height: 70px;
  border: 3px solid #ff0000;
  border-radius: 50%;
}

.icon-red img {
  width: 30px;
  height: auto;
}

/*Footer styling*/
footer {
  background-color: #072bce;
  padding: 60px 36px 60px 36px;
}

footer h6 {
  text-align: center;
  margin: 0;
}

footer p {
  color: #fff;
}

footer a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
}

/*Landscape & Tablets*/
@media (min-width: 640px) {
  header {
    padding: 100px 100px 0 100px;
  }

  .header-text {
    align-self: flex-start;
    margin: 0;
  }
}

/*Desktop*/
@media (min-width: 1024px) {
  header {
    padding: 250px 250px 0 250px;
  }

  .profile-pic {
    width: 300px;
    height: 300px;
  }

  .header-text {
    align-self: flex-start;
    margin: 0;
  }

  .presentation-section {
    padding: 50px 250px 50px 250px;
  }

  .portfolio-section {
    padding: 50px 250px 50px 250px;
  }

  .portfolio-section-grey {
    padding: 50px 250px 50px 250px;
  }
}
